
<app-navbar></app-navbar>
<br>
<div class="container">

  <form id="filter">
    <input type="Text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" placeholder="Search by id" />
  </form>
</div>

<div class="container">
  <table class="table table-hover table-bordered table-inverse">
    <tr>
      <th>ID</th>
      <th>Mark</th>
      <th>Number register</th>
      <th>Transmission type</th>
      <th>Combustible</th>
      <th class="text-right"> Price</th>
    </tr>

    <tr *ngFor="let car of cars | filter:term">
      <!-- <td>
        <a [routerLink]="['/getcar', car.id]">{{car.mark}}</a>
      </td> -->
      <td>
        {{car.id | filter}}
      </td>
      <td>
        <a [routerLink]="['/getcar', car.id]">{{car.mark}}</a> 
      </td>
      <td>
        {{car.numberRegister |  uppercase}}
      </td>
      <td>
        {{car.transmissionType}}
      </td>
      <td>
        {{car.combustibleType}}
      </td>
         <td class="text-right">
        {{car.carPrice | currency }}
      </td>
    </tr>
  </table>
</div>



<!-- <div class ="test">
<a routerLink="/"><button class="btn"> Back </button></a>
</div> -->
