<app-navbar></app-navbar>

 <div class="container">
    <div class="row">
      <a class="btn btn-primary" routerLink="/car/list">Back to List</a>
    </div>
    <br>

    <div>
      <div class="form-group">
        <label>Car id</label>
        <div class="form-control">{{carId.id}}</div>
      </div>

      <div class="form-group">   
        <label>numberRegister</label>
        <div class="form-control">{{carId.numberRegister}} </div>
      </div>
      

      <div class="form-group">
        <label>transmissionType</label>
        <div class="form-control">{{carId.transmissionType}}</div>
      </div>

      <div class="form-group">
        <label>combustibleType</label>
        <div class="form-control">{{carId.combustibleType}}</div>
      </div>

      <div class="form-group">
        <label>carPrice</label>
        <div class="form-control">{{carId.carPrice}}</div>
      </div>
    </div> 

 
